/* Styles de base */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f8fc;
}

.logo-container {
    display: flex;
    margin-right: 15px;
}

.logo {
    height: 50px;
    margin-right: 15px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    color: #00497c;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #1e90ff;
}

/* Styles du menu burger */
.burger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    /* Cache la navigation et affiche le burger par défaut */
    .nav {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        background-color: #f1f8fc;
        padding: 10px;
        position: absolute;
        top: 60px; /* Ajustez selon la hauteur de votre header */
        left: 0;
    }

    /* Affiche la navigation si `nav-open` est activé */
    .nav.nav-open {
        display: flex;
    }

    .burger {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}

/* Styles du menu déroulant */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #00497c;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Styles de la barre de recherche */
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button {
    padding: 5px 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #1c7cd6;
}
