@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Regular.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Regular.woff') format('woff'),
       url('./assets/fonts/Graphik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Graphik', sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilisation de la pleine largeur sur les écrans plus larges */
@media (min-width: 1200px) {
  main {
    max-width: 90%; /* Utilisation maximale de l'espace sur les écrans larges */
  }
}
